# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environment
.venv/

# VS Code
.vscode/

# Environment variables
.env

# Generated data
data/raw/*.csv
data/processed/*.csv
data/warehouse/*.csv

# OS files
.DS_Store
Thumbs.db